<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSContactsUsageDescription</key>
	<string>You can pick contacts from your address book to create a new recipient</string>
	<key>NSCameraUsageDescription</key>
	<string>Can we use the camera to capture cards?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To pick card images from your photo library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
